.chessboard{
    border:2px solid brown;
    height:400px;
    width:400px;
}
.white{
    float:left;
    height:50px;
    width:50px;
    background-color:floralwhite;
}
.black{
    float:left;
    height:50px;
    width:50px;
    background-color:black;
}