.chessboard {
    width: 640px;
    height: 640px;
    margin: 2px;
    border: 5px solid;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: black;

}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: white;
}